.prose a {
  text-decoration: none;
}

.dark :is(.dark\:prose-invert){
  color: inherit;
}

.prose :where(h1 a, h2 a, h3 a, h4 a) {
  border-bottom: none !important;
  text-decoration: none !important;
  color: inherit;
  font-weight: inherit;
}

.prose :where(p,ul,ol,pre):not(:where(.not-prose,.not-prose *)) {
  margin-top: 0
}

.prose :where(p,ul,ol,pre):not(:where(.not-prose,.not-prose *)):last-child {
  margin-bottom: 0
}

.prose :where(a):not(:where(.not-prose,.not-prose *)):not(h1 a, h2 a, h3 a, h4 a, .\!no-underline) {
  @apply !underline underline-offset-5 !decoration-wavy !decoration-black/50 dark:!decoration-white/50;
}
