@keyframes rays {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.rays {
    --stripes: repeating-linear-gradient(
            100deg,
            #fff 0%,
            #fff 7%,
            transparent 10%,
            transparent 12%,
            #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
            100deg,
            #000 0%,
            #000 7%,
            transparent 10%,
            transparent 12%,
            #000 16%
    );
    --rainbow: repeating-linear-gradient(
            100deg,
            #93c5fd 10%,
            #93c5fd 15%,
            #60a9fa 20%,
            #3b93f6 25%,
            #2582eb 30%,
            #1d75d8 35%,
            #1e62af 40%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 10%, transparent 80%);

    pointer-events: none;
}

.rays::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: rays 120s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

.dark .rays {
    background-image: var(--stripesDark), var(--rainbow);
    filter: blur(10px) opacity(50%) saturate(200%);
}

.dark .rays::after {
    background-image: var(--stripesDark), var(--rainbow);
}
