:root {
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --vp-z-index-local-nav: 100;
}

html.dark {
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

html,
body {
  height: 100vh;
  --uno: font-sans;
  background: black;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000;
  opacity: 0.5;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.dark #nprogress .bar {
  background: #fff;
}

.dark .shiki,
.dark .shiki span {
  background-color: #0e0e0e;
  --twoslash-popup-bg: #0e0e0e;
}

html:not(.dark) .shiki,
html:not(.dark) .shiki span {
  background-color: #fafafa;
  --twoslash-popup-bg: #fafafa;
}

.twoslash-popup-container {
  font-size: 0.9rem
}

.twoslash-popup-container .line {
  display: block;
}
