@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.jumbo {
    --stripes: repeating-linear-gradient(
            100deg,
            #fff 0%,
            #fff 7%,
            transparent 10%,
            transparent 12%,
            #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
            100deg,
            #000 0%,
            #000 7%,
            transparent 10%,
            transparent 12%,
            #000 16%
    );
    --rainbow: repeating-linear-gradient(
            100deg,
            #ade9f4 /* base color */ 10%,
            #90e0ef /* lighter teal, similar to #60a5fa */ 15%,
            #90EFCF /* greenish teal, similar to #e879f9 */ 20%,
            #1aa1c0 /* bright teal, similar to #5eead4 */ 25%,
            #90B1EF /* soft teal, similar to #60a5fa */ 30%,
            #1a6984 /* blueish teal, similar to #60a5fa */ 35%,
            #1e566c /* purplish teal, similar to #e879f9 */ 40%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 10%, transparent 80%);

    pointer-events: none;
}

.jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 90s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

.dark .jumbo {
    background-image: var(--stripesDark), var(--rainbow);
    filter: blur(10px) opacity(50%) saturate(200%);
}

.dark .jumbo::after {
    background-image: var(--stripesDark), var(--rainbow);
}
